<header class="header-container">
  <div class="nav">
    <a class="header-options" href="/home">Home</a>
    <a class="header-options" href="/dashboard">Dashboard</a>
    <a class="header-options" href="/login">Login</a>
    <a class="header-options" href="/login" id="logoutbtn">Logout</a>

  </div>
  <div class="hero-logo">
    <a>
      <h1 class="logo-style">The Tech Blog</h1>
    </a>
  </div>
</header>
<section>
  <article class="post">
    <div class="post-header">
      <h2>Mock Post</h2>
      <p>Posted By Mock post</p>
    </div>
    <p class="post-content">Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Perferendis tempora, itaque natus maxime tempore quis autem iste ab
      necessitatibus porro.</p>
  </article>
</section>