<section>
  <article class="post">
    <div class="post-header">
      <h2>Mock Post</h2>
      <p>Posted By Mock post</p>
    </div>
    <p class="post-content">Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Perferendis tempora, itaque natus maxime tempore quis autem iste ab
      necessitatibus porro.</p>
  </article>
</section>