<body>
  <header class="header-container">
    <div class="nav">
      <a class="header-options" href="/home">Home</a>
      <a class="header-options" href="/dashboard">Dashboard</a>
      <a class="header-options" href="/login">Login</a>
      <a class="header-options" href="/login" id="logoutbtn">Logout</a>

    </div>
    <div class="hero-logo">
      <a>
        <h1 class="logo-style">The Tech Blog</h1>
      </a>
    </div>
  </header>
  <section>
    <article class="post">
      <div class="post-header">
        <h2>Login</h2>
      </div>
      <form class="form-wrapper login-form">
        <label for="username">Username</label>
        <input
          class="login-options"
          type="text"
          id="email-login"
          name="username"
        /><br /><br />
        <label for="password">Password</label>
        <input
          class="login-options"
          type="text"
          id="password-login"
          name="password"
        /><br /><br />
        <input class="login-options" type="submit" value="Submit" />
        <a class="login-options signup" href="/signup">Sign up instead</a>
      </form>
    </article>
  </section>
  <script src="/js/login.js"></script>
</body>