<section>
  <article class="post">
    <div class="post-header">
      <h2>Login</h2>
    </div>
    <form class="form-wrapper login-form">
      <label for="email">Username</label>
      <input
        class="login-options"
        type="email"
        id="email-login"
        name="email"
      /><br /><br />
      <label for="password">Password</label>
      <input
        class="login-options"
        type="password"
        id="password-login"
        name="password"
      /><br /><br />
      <input class="login-options" type="submit" value="Submit" />
      <a class="login-options signup" href="/signup">Sign up instead</a>
    </form>
  </article>
</section>
<script src="/js/login.js"></script>